/* LotteryCard.css */

.lottery-card {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.lottery-card.flipped {
  /* Add your desired background color when flipped */
  background-color: #ffffff;
}

/* Add different colors for different cards */
.lottery-card:nth-child(odd) {
  background-color: #ffcccc;
}

.lottery-card:nth-child(even) {
  background-color: #ccffcc;
}

.lottery-card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(0deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #000000; /* Add border style */
  border-radius: 10px; /* Add border radius */
}

.jackpot {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.draw-time {
  font-size: 14px;
  color: #666666;
  margin-bottom: 10px;
}

.lottery-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.lottery-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.result-datetime {
  font-size: 14px;
  color: #666666;
  margin-bottom: 10px;
}

.result-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.result-ball {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ff0000; /* Replace with your desired color */
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  margin: 2px;
}


.card-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #eeeeee;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #333333;
  margin-bottom: 10px;
  cursor: pointer;
}

.flip-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #333333;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
