/* App.css */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.lottery-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 576px) {
  .lottery-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Media query for medium screens */
@media (min-width: 577px) and (max-width: 991px) {
  .lottery-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media query for desktop screens */
@media (min-width: 992px) {
  .lottery-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
